In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline

In [34]:
df = pd.read_csv('SPCquery.csv')

In [35]:
df.columns

Index(['MachineID', 'SummaryDate', 'SMRHours', 'AccumulatedHours',
       'WorkingHours', 'DigHours', 'HoistHours', 'TravelHours', 'AttHours',
       'BreakerHours', 'ReliefHours', 'FuelConsumptionLitersPerHour',
       'FuelLiters', 'AvgPumpPressure', 'ModePHours', 'ModeEHours',
       'ModeBHours', 'ModeLHours', 'EcoLampHours', 'OperationMap',
       'OperationMapAccuracy', 'Latitude', 'Longitude',
       'WaterTempGauge__GaugeLevel', 'WaterTempGauge__GaugeMax',
       'WaterTempGauge__ThreshLevel1', 'FuelGauge_GaugeLevel',
       'FuelGauge_DetailedGaugeLevel', 'FuelGauge_GaugeMax',
       'FuelGauge_ThreshLevel2', 'ETLLoadUTCDate'],
      dtype='object')

In [138]:
df.head()

,MachineID,SummaryDate,SMRHours,AccumulatedHours,WorkingHours,DigHours,HoistHours,TravelHours,AttHours,BreakerHours,...,Latitude,Longitude,WaterTempGauge__GaugeLevel,WaterTempGauge__GaugeMax,WaterTempGauge__ThreshLevel1,FuelGauge_GaugeLevel,FuelGauge_DetailedGaugeLevel,FuelGauge_GaugeMax,FuelGauge_ThreshLevel2,ETLLoadUTCDate
0,88263,2015-09-23 00:00:00,5090.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,49.96,-119.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-21 15:17:04.177
1,88263,2015-09-24 00:00:00,5090.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,49.96,-119.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-21 15:17:04.177
2,88263,2015-09-25 00:00:00,5090.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,49.96,-119.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-21 15:17:04.177
3,88263,2015-09-26 00:00:00,5090.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,49.96,-119.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-21 15:17:04.177
4,88263,2015-09-27 00:00:00,5090.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,49.96,-119.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-21 15:17:04.177

In [39]:
df.isnull().sum()

MachineID                             0
SummaryDate                           0
SMRHours                          27694
AccumulatedHours                  29376
WorkingHours                     116980
DigHours                         357326
HoistHours                      1226918
TravelHours                      357326
AttHours                         357326
BreakerHours                    1226918
ReliefHours                     1226907
FuelConsumptionLitersPerHour     123501
FuelLiters                       144435
AvgPumpPressure                  357326
ModePHours                       365631
ModeEHours                       365631
ModeBHours                       365631
ModeLHours                       365631
EcoLampHours                    1227614
OperationMap                      29376
OperationMapAccuracy              29376
Latitude                          98646
Longitude                         98646
WaterTempGauge__GaugeLevel      1071493
WaterTempGauge__GaugeMax        1071493
WaterTempGauge__ThreshLevel1    1071493
FuelGauge_GaugeLevel            1071493
FuelGauge_DetailedGaugeLevel    1219673
FuelGauge_GaugeMax              1071493
FuelGauge_ThreshLevel2          1071493
ETLLoadUTCDate                        0
dtype: int64

In [108]:
df1=df.loc[:, df.isnull().mean() < .8]
df1.isnull().sum()

MachineID                            0
SummaryDate                          0
SMRHours                         27694
AccumulatedHours                 29376
WorkingHours                    116980
DigHours                        357326
TravelHours                     357326
AttHours                        357326
FuelConsumptionLitersPerHour    123501
FuelLiters                      144435
AvgPumpPressure                 357326
ModePHours                      365631
ModeEHours                      365631
ModeBHours                      365631
ModeLHours                      365631
OperationMap                     29376
OperationMapAccuracy             29376
Latitude                         98646
Longitude                        98646
ETLLoadUTCDate                       0
dtype: int64

In [115]:
from fancyimpute import MICE as mice
import numpy as np

In [125]:
df1.dtypes

MachineID                         int64
SummaryDate                      object
SMRHours                        float64
AccumulatedHours                float64
WorkingHours                    float64
DigHours                        float64
TravelHours                     float64
AttHours                        float64
FuelConsumptionLitersPerHour    float64
FuelLiters                      float64
AvgPumpPressure                 float64
ModePHours                      float64
ModeEHours                      float64
ModeBHours                      float64
ModeLHours                      float64
OperationMap                     object
OperationMapAccuracy            float64
Latitude                        float64
Longitude                       float64
ETLLoadUTCDate                   object
dtype: object

In [135]:
df2=df1.drop(['SummaryDate', 'OperationMap', 'ETLLoadUTCDate'], axis=1)

In [136]:
df2=pd.DataFrame(data=mice().complete(df2), columns=df2.columns, index=df2.index)

[MICE] Completing matrix with shape (1227614, 17)
[MICE] Starting imputation round 1/110, elapsed time 0.353
[MICE] Starting imputation round 2/110, elapsed time 7.497
[MICE] Starting imputation round 3/110, elapsed time 14.488
[MICE] Starting imputation round 4/110, elapsed time 21.748
[MICE] Starting imputation round 5/110, elapsed time 28.578
[MICE] Starting imputation round 6/110, elapsed time 35.932
[MICE] Starting imputation round 7/110, elapsed time 42.827
[MICE] Starting imputation round 8/110, elapsed time 49.510
[MICE] Starting imputation round 9/110, elapsed time 56.793
[MICE] Starting imputation round 10/110, elapsed time 63.783
[MICE] Starting imputation round 11/110, elapsed time 70.754
[MICE] Starting imputation round 12/110, elapsed time 77.924
[MICE] Starting imputation round 13/110, elapsed time 85.053
[MICE] Starting imputation round 14/110, elapsed time 92.404
[MICE] Starting imputation round 15/110, elapsed time 99.185
[MICE] Starting imputation round 16/110, elapsed time 105.914
[MICE] Starting imputation round 17/110, elapsed time 112.709
[MICE] Starting imputation round 18/110, elapsed time 119.366
[MICE] Starting imputation round 19/110, elapsed time 126.064
[MICE] Starting imputation round 20/110, elapsed time 133.398
[MICE] Starting imputation round 21/110, elapsed time 140.427
[MICE] Starting imputation round 22/110, elapsed time 147.374
[MICE] Starting imputation round 23/110, elapsed time 153.982
[MICE] Starting imputation round 24/110, elapsed time 160.574
[MICE] Starting imputation round 25/110, elapsed time 167.191
[MICE] Starting imputation round 26/110, elapsed time 173.791
[MICE] Starting imputation round 27/110, elapsed time 180.429
[MICE] Starting imputation round 28/110, elapsed time 187.057
[MICE] Starting imputation round 29/110, elapsed time 194.017
[MICE] Starting imputation round 30/110, elapsed time 200.935
[MICE] Starting imputation round 31/110, elapsed time 208.090
[MICE] Starting imputation round 32/110, elapsed time 215.885
[MICE] Starting imputation round 33/110, elapsed time 222.646
[MICE] Starting imputation round 34/110, elapsed time 229.256
[MICE] Starting imputation round 35/110, elapsed time 235.864
[MICE] Starting imputation round 36/110, elapsed time 242.521
[MICE] Starting imputation round 37/110, elapsed time 249.163
[MICE] Starting imputation round 38/110, elapsed time 256.017
[MICE] Starting imputation round 39/110, elapsed time 262.834
[MICE] Starting imputation round 40/110, elapsed time 269.573
[MICE] Starting imputation round 41/110, elapsed time 276.171
[MICE] Starting imputation round 42/110, elapsed time 283.237
[MICE] Starting imputation round 43/110, elapsed time 290.085
[MICE] Starting imputation round 44/110, elapsed time 296.798
[MICE] Starting imputation round 45/110, elapsed time 304.456
[MICE] Starting imputation round 46/110, elapsed time 312.992
[MICE] Starting imputation round 47/110, elapsed time 320.363
[MICE] Starting imputation round 48/110, elapsed time 327.036
[MICE] Starting imputation round 49/110, elapsed time 333.975
[MICE] Starting imputation round 50/110, elapsed time 340.997
[MICE] Starting imputation round 51/110, elapsed time 347.594
[MICE] Starting imputation round 52/110, elapsed time 354.226
[MICE] Starting imputation round 53/110, elapsed time 360.891
[MICE] Starting imputation round 54/110, elapsed time 367.595
[MICE] Starting imputation round 55/110, elapsed time 374.923
[MICE] Starting imputation round 56/110, elapsed time 382.389
[MICE] Starting imputation round 57/110, elapsed time 389.512
[MICE] Starting imputation round 58/110, elapsed time 396.089
[MICE] Starting imputation round 59/110, elapsed time 402.764
[MICE] Starting imputation round 60/110, elapsed time 410.053
[MICE] Starting imputation round 61/110, elapsed time 416.844
[MICE] Starting imputation round 62/110, elapsed time 424.084
[MICE] Starting imputation round 63/110, elapsed time 430.741
[MICE] Starting imputation round 64/110, elapsed time 437.344
[MICE] Starting imputation round 65/110, elapsed time 444.020
[MICE] Starting imputation round 66/110, elapsed time 450.607
[MICE] Starting imputation round 67/110, elapsed time 457.708
[MICE] Starting imputation round 68/110, elapsed time 464.325
[MICE] Starting imputation round 69/110, elapsed time 470.950
[MICE] Starting imputation round 70/110, elapsed time 477.547
[MICE] Starting imputation round 71/110, elapsed time 484.148
[MICE] Starting imputation round 72/110, elapsed time 490.958
[MICE] Starting imputation round 73/110, elapsed time 497.904
[MICE] Starting imputation round 74/110, elapsed time 504.984
[MICE] Starting imputation round 75/110, elapsed time 512.145
[MICE] Starting imputation round 76/110, elapsed time 519.382
[MICE] Starting imputation round 77/110, elapsed time 526.013
[MICE] Starting imputation round 78/110, elapsed time 532.896
[MICE] Starting imputation round 79/110, elapsed time 540.423
[MICE] Starting imputation round 80/110, elapsed time 547.385
[MICE] Starting imputation round 81/110, elapsed time 554.985
[MICE] Starting imputation round 82/110, elapsed time 561.778
[MICE] Starting imputation round 83/110, elapsed time 568.379
[MICE] Starting imputation round 84/110, elapsed time 574.981
[MICE] Starting imputation round 85/110, elapsed time 581.547
[MICE] Starting imputation round 86/110, elapsed time 588.286
[MICE] Starting imputation round 87/110, elapsed time 595.120
[MICE] Starting imputation round 88/110, elapsed time 601.758
[MICE] Starting imputation round 89/110, elapsed time 608.501
[MICE] Starting imputation round 90/110, elapsed time 615.064
[MICE] Starting imputation round 91/110, elapsed time 621.624
[MICE] Starting imputation round 92/110, elapsed time 628.438
[MICE] Starting imputation round 93/110, elapsed time 635.047
[MICE] Starting imputation round 94/110, elapsed time 641.633
[MICE] Starting imputation round 95/110, elapsed time 648.212
[MICE] Starting imputation round 96/110, elapsed time 654.816
[MICE] Starting imputation round 97/110, elapsed time 661.470
[MICE] Starting imputation round 98/110, elapsed time 668.069
[MICE] Starting imputation round 99/110, elapsed time 674.656
[MICE] Starting imputation round 100/110, elapsed time 681.254
[MICE] Starting imputation round 101/110, elapsed time 687.931
[MICE] Starting imputation round 102/110, elapsed time 694.540
[MICE] Starting imputation round 103/110, elapsed time 701.125
[MICE] Starting imputation round 104/110, elapsed time 707.699
[MICE] Starting imputation round 105/110, elapsed time 714.270
[MICE] Starting imputation round 106/110, elapsed time 720.886
[MICE] Starting imputation round 107/110, elapsed time 727.470
[MICE] Starting imputation round 108/110, elapsed time 734.036
[MICE] Starting imputation round 109/110, elapsed time 740.605
[MICE] Starting imputation round 110/110, elapsed time 747.206

In [140]:
df2.head()

,MachineID,SMRHours,AccumulatedHours,WorkingHours,DigHours,TravelHours,AttHours,FuelConsumptionLitersPerHour,FuelLiters,AvgPumpPressure,ModePHours,ModeEHours,ModeBHours,ModeLHours,OperationMapAccuracy,Latitude,Longitude
0,88263.0,5090.6,0.0,1.158468,0.338672,1.208475,0.690285,3.771172,18.737703,0.007318,0.970447,-0.000072,0.194290,0.000195,15.0,49.96,-119.35
1,88263.0,5090.6,0.0,1.339674,0.520961,0.882253,0.494630,3.624302,18.168945,0.008414,0.874534,0.000336,0.225416,-0.000001,15.0,49.96,-119.35
2,88263.0,5090.6,0.0,1.260278,0.608654,1.228159,0.692329,3.441682,15.175188,0.008768,0.862370,-0.000253,0.240382,0.000117,15.0,49.96,-119.35
3,88263.0,5090.6,0.0,1.082101,0.624468,0.851943,0.626237,2.728754,15.148064,0.008250,1.084595,0.000131,0.370591,0.000074,15.0,49.96,-119.35
4,88263.0,5090.6,0.0,1.361116,0.601065,1.320056,0.749334,4.075231,15.714604,0.008689,1.153294,-0.000723,0.470674,0.000041,15.0,49.96,-119.35