In [1]:
import json
import re
import urllib.request
import pandas as pd
from urllib.request import urlopen

base_url = "https://www.kaggle.com/rankings.json?group=competitions&page="
data2=[]
n = 5
for i in range(1, n+1):
 
    response = urlopen(base_url + "%d" % i)
    data = response.read()
    data1 = str(data)
    data2.append(data1)
    
#print(data2)

In [2]:
data3 = str(data2)

In [3]:
 urls = (re.findall(r'userUrl(.*?)tier', data3))

In [4]:
print(urls)

['":"/titericz","', '":"/kazanova","', '":"/stasg7","', '":"/bestfitting","', '":"/mmueller","', '":"/pengyan","', '":"/utility","', '":"/mjahrer","', '":"/xiaozhouwang","', '":"/raddar","', '":"/zfturbo","', '":"/speculation","', '":"/shixw125","', '":"/liaofz","', '":"/confirm","', '":"/alijs1","', '":"/kylelee","', '":"/psilogram","', '":"/danielfg","', '":"/mikeskim","', '":"/sergeykozub","', '":"/clustifier","', '":"/jiweiliu","', '":"/yinpeng","', '":"/iglovikov","', '":"/p233333","', '":"/gmobaz","', '":"/johnpateha","', '":"/alexeynoskov","', '":"/qwang88","', '":"/bishwarup","', '":"/ashhafez","', '":"/mariofilho","', '":"/sangxia","', '":"/gaborfodor","', '":"/seanjv","', '":"/anlthms","', '":"/bobutis","', '":"/sushize","', '":"/abhishek","', '":"/nimashahbazi","', '":"/medial","', '":"/cpmpml","', '":"/outrunner","', '":"/alexxanderlarko","', '":"/sudalairajkumar","', '":"/plantsgo","', '":"/qqgeogor","', '":"/jtrotman","', '":"/drknope","', '":"/toshik","', '":"/mathurinache","', '":"/kelexu","', '":"/ivanhoe","', '":"/deeper","', '":"/x0x0w1","', '":"/ccccat","', '":"/vlarine","', '":"/zadrras","', '":"/rsakata","', '":"/carloshuertas","', '":"/thousandvoices","', '":"/u1234x1234","', '":"/owenzhang1","', '":"/willieliao","', '":"/cubbus","', '":"/mchahhou","', '":"/alexryzhkov","', '":"/asanakoev","', '":"/aguschin","', '":"/thakurrajanand","', '":"/gertjac","', '":"/dmitrylarko","', '":"/mitiau","', '":"/darraghdog","', '":"/tunguz","', '":"/jpmiller","', '":"/tyi2000","', '":"/tvdwiele","', '":"/zhugds","', '":"/breakfastpirate","', '":"/newtohere","', '":"/albuslaev","', '":"/leustagos","', '":"/mindcool","', '":"/onodera","', '":"/ckomaki","', '":"/grt123","', '":"/sasrdw","', '":"/jturkewitz","', '":"/lucienderubempre","', '":"/rhinodaveb","', '":"/liderchang","', '":"/blindape","', '":"/brandenkmurray","', '":"/nedelko","', '":"/abdulwahabkabani","', '":"/naokazumizuta","', '":"/tasha75","', '":"/skylibrary","']

In [5]:
urls1 = pd.DataFrame(urls)
urls1.head()

                    0
0     ":"/titericz","
1     ":"/kazanova","
2       ":"/stasg7","
3  ":"/bestfitting","
4     ":"/mmueller","

In [6]:
urls1.columns = ['urls']
urls1.head()

                 urls
0     ":"/titericz","
1     ":"/kazanova","
2       ":"/stasg7","
3  ":"/bestfitting","
4     ":"/mmueller","

In [7]:
urls1['urls'] = urls1['urls'].map(lambda x: str(x)[3:-3])
urls1.head()

           urls
0     /titericz
1     /kazanova
2       /stasg7
3  /bestfitting
4     /mmueller

In [8]:
urls1['fullurl'] = 'https://www.kaggle.com' + urls1['urls']

In [9]:
urls1.head()

           urls                             fullurl
0     /titericz     https://www.kaggle.com/titericz
1     /kazanova     https://www.kaggle.com/kazanova
2       /stasg7       https://www.kaggle.com/stasg7
3  /bestfitting  https://www.kaggle.com/bestfitting
4     /mmueller     https://www.kaggle.com/mmueller

In [10]:
urls2 = urls1[['fullurl']]
urls2.head()

                              fullurl
0     https://www.kaggle.com/titericz
1     https://www.kaggle.com/kazanova
2       https://www.kaggle.com/stasg7
3  https://www.kaggle.com/bestfitting
4     https://www.kaggle.com/mmueller

In [11]:
urls2.to_csv('top100.csv', index=False, header=False)